<launch>

  <arg name="robot_model"                       default="vx300s"/>
  <arg name="robot_name"                        default="$(arg robot_model)"/>
  <arg name="base_link_frame"                   default="base_link"/>
  <arg name="use_rviz"                          default="true"/>
  <arg name="mode_configs"                      default="$(find headset_teleoperation)/config/modes.yaml"/>
  <arg name="threshold"                         default="0.75"/>
  <arg name="controller"                        default="ps4"/>
  <arg name="launch_driver"                     default="true"/>
  <arg name="use_sim"                           default="false"/>

  <include if="$(arg launch_driver)" file="$(find interbotix_xsarm_control)/launch/xsarm_control.launch">
    <arg name="robot_model"                       value="$(arg robot_model)"/>
    <arg name="robot_name"                        value="$(arg robot_name)"/>
    <arg name="base_link_frame"                   value="$(arg base_link_frame)"/>
    <arg name="use_rviz"                          value="$(arg use_rviz)"/>
    <arg name="mode_configs"                      value="$(arg mode_configs)"/>
    <arg name="use_sim"                           value="$(arg use_sim)"/>
  </include>

  <node
    pkg="headset_teleoperation"
    type="xsarm_pose_control"
    name="xsarm_pose_control"
    output="screen"
    ns="$(arg robot_name)">
    <param name="robot_model" value="$(arg robot_model)"/>
  </node>

  <node
    pkg="headset_teleoperation"
    type="pose_interactive_marker"
    name="pose_interactive_marker"
    output="screen"
    ns="$(arg robot_name)"
  />

</launch>
